<a href="https://colab.research.google.com/github/SofronovaKA/programming/blob/main/solution_for_lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача №2.1:

In [ ]:
x = float(input())

if x>=0:
  f = x**0.5 + x**2
  print(round(f, 2))
else:
  f = 1/x
  print(round(f, 2))

4
18.0

Задача 2.2:

In [ ]:
a = int(input())
b = int(input())

if a>b:
  print(f"{a} - максимальное число, {b} - минимальное")
else:
  print(f"{b} - максимальное число, {a} - минимальное")

4
6
6 - максимальное число, 4 - минимальное

Задача 2.3:

In [ ]:
a = int(input())
b = int(input())
d = int(input())

if d+2 <= a and d+2 <= b:
  print("Вася сможет высунуть голову в форточку")
else:
  print("Вася не сможет высунуть голову в форточку")

40
30
20
Вася сможет высунуть голову в форточку

Задача №2.4:

In [ ]:
number_year = int(input("Введите текущий год: "))
number_month = int(input("Введите номер текущего месяца: "))
birthday_number_year = int(input("Введите год рождения: "))
birthday_number_month = int(input("Введите номер месяца рождения: "))

if number_month > birthday_number_month:
  age = number_year - birthday_number_year
  print(f"Возраст человека - {age} лет")
else:
  print(f"Возраст человека - {age-1} лет")

Введите текущий год: 2025
Введите номер текущего месяца: 3
Введите год рождения: 2008
Введите номер месяца рождения: 2
Возраст человека - 17 лет

Задача №2.5:

In [ ]:
x = int(input())
y = int(input())

if x > 0 and y > 0:
  print("Точка находится в 1 четверти")
if x < 0 and y > 0:
  print("Точка находится во 2 четверти")
if x < 0 and y < 0:
  print("Точка находится в 3 четверти")
if x > 0 and y < 0:
  print("Точка находится в 4 четверти")

3
-4
Точка находится в 4 четверти

Задача №2.6:

In [ ]:
a = float(input())
b = float(input())
c = float(input())

def quadro(a, b, c):

    D = b**2 - 4*a*c

    if D > 0:
        x1 = (-b + math.sqrt(D)) / (2*a)
        x2 = (-b - math.sqrt(D)) / (2*a)
        return round(x1, 1), round(x2, 1)
    elif D == 0:
        x = (-b) / (2 * a)
        return round(x, 1)
    else:
        return "Нет вещественных корней"

print(quadro(a, b, c))

4
20
2
(-0.1, -4.9)

Задача №2.7:

In [ ]:
total = 0
count = 0

isNull = False
while (not isNull):
  a = int(input())
  if (a==0):
    isNull = True
  else:
    count = count + 1
    total = total + a

print(f'Сумма чисел: {total}')
print(f'Количество чисел: {count}')

6754
89
90
0
Сумма чисел: 6933
Количество чисел: 3

Задача №2.8:

In [ ]:
n = int(input())

for i in range (0, n, 5):
  print(i)

29
0
5
10
15
20
25

Задача №2.9:

In [ ]:
a = int(input())
sum = 0
counter = 0

while (a>=sum):
  counter = counter + 1
  sum = sum + 1/counter
print(counter)

6
227

Задача №2.10:

In [ ]:
n = int(input())
sum = 0
count = 0

while n!=0:
  s = n % 10
  sum = sum + s
  count = count + 1
  n = n//10
print(sum, count)

1234
10 4

Задача №2.11:

In [ ]:
k = int(input())
s = int(input())
start = int(input())

m = []
while len(m)<10:
  if start % 10 == k and start % s == 0:
    m.append(str(start))

  start = start + 1
  string = " ".join(m)
print(string)

6
2
12
16 26 36 46 56 66 76 86 96 106

Задача №2.12:

In [ ]:
# Ввод целых чисел a и b
a = int(input("Введите число a: "))
b = int(input("Введите число b: "))

# Определение минимального и максимального числа
min_num = min(a, b)
max_num = max(a, b)

# Вывод чисел от минимального до максимального в строку
print("Числа от минимального до максимального в строку:")
print(" ".join(map(str, range(min_num, max_num + 1))))

# Вывод чисел от максимального до минимального в столбик
print("\nЧисла от максимального до минимального в столбик:")
for num in range(max_num, min_num - 1, -1):
    print(num)

Введите число a: 5
Введите число b: 15
Числа от минимального до максимального в строку:
5 6 7 8 9 10 11 12 13 14 15

Числа от максимального до минимального в столбик:
15
14
13
12
11
10
9
8
7
6
5

Задача №2.18:

In [ ]:
sentense = input()
count_a = 0
count_b = 0

m = 'аоуыэяёюие'
for char in sentense:
  if char == " ": continue
  elif char in m:
    count_a = count_a + 1
  else:
    count_b = count_b + 1

print(count_a)
print(count_b)

Привет
2
4

Напищите программу, которая сортирует список чисел по убыванию и выводит его.

In [ ]:
s = input()

modified_string = s.replace('a', 'A')
count_a = s.count('a')

print(f"Измененная строка: {modified_string}")
print(f"Количество символов 'a': {count_a}")

banana
Измененная строка: bAnAnA
Количество символов 'a': 3

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти
координатной плоскости, которой она принадлежит. (Входные данные: 3 4 и 0 0), запрос повтора программы.

In [ ]:
for i in range(2):
  x = int(input())
  y = int(input())

  if x>0 and y>0:
    print("Точка находится в первой четверти.")
  elif x<0 and y>0:
    print("Точка находится во второй четверти.")
  elif x<0 and y>0:
    print("Точка находится в третьей четверти.")
  elif x<0 and y<0:
    print("Точка находится в четвертой четверти.")
  else:
    print("Точка лежит на оси.")

3
4
Точка находится в первой четверти.
0
0
Точка лежит на оси.

Задача №2.19:

In [ ]:
a = int(input())
b = int(input())
c = int(input())

for i in range(a, b + 1):
    if i % c == 0:
        print(i, end=" ")

Введите целое число a: 5
Введите целое число b: 20
Введите целое число c: 5
Числа от 5 до 20, кратные 5:
5 10 15 20

Задача №2.23:

In [ ]:
def is_fibonacci(n):
    try:
        n = int(n)
        if n < 0:
            return False
        a, b = 0, 1

        while b < n:
            a, b = b, a + b

        return b == n or n == 0

    except (ValueError, TypeError):
        return False

user_input = input()

if is_fibonacci(user_input):
    print(f"{user_input} является членом последовательности Фибоначчи.")
else:
    print(f"{user_input} не является членом последовательности Фибоначчи.")

9
9 не является членом последовательности Фибоначчи.

In [ ]:
def is_fibonacci(n):
  try:
      n = int(input())
      if n<0:
        return False
      a, b = 0, 1

      while b<n:
        a, b = b, a + b

      return b == n or n == 0

  except (ValueError, TypeError):
      return False

if is_fibonacci(n):
  print(f"{n} является членом последовательности Фибоначчи.")
else:
  print(f"{n} является членом последовательности Фибоначчи.")

0
-5 является членом последовательности Фибоначчи.

Задача №2.25:

In [ ]:
n = int(input())

if n>2 and n<=9:
  for i in range(1, n+1):
    for j in range(1, n+1):
      print(f"{i} * {j} = {i*j}", end = "\t")
    print()

4
1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16

Задача №2.26:

In [ ]:
n = int(input("Введите число n: "))

# Функция для подсчета количества делителей числа
def count_divisors(num):
    count = 0
    for i in range(1, num + 1):
        if num % i == 0:  # Если i делит num без остатка
            count += 1
    return count

# Вывод чисел от 1 до n с символами *
for num in range(1, n + 1):
    divisors = count_divisors(num)  # Количество делителей
    print(f"{num} {'*' * divisors}")

Введите число n: 5
1 *
2 **
3 **
4 ***
5 **

In [ ]:
n = int(input())
def count_divisors(num):
  d = 0
  for i in range(1, num + 1):
    if num % i == 0:
      d += 1
    return d
for
    print(f"{num} {'*' * d}")

5
5 *
5 *
5 *
5 *
5 **

Задача №2.34:

In [ ]:
#{"name": "", "initial_sum": 0, "rate": 0.0}

In [ ]:
n = int(input())
m = []

for i in range(n):
  a = input()
  d = a.split(" ")
  m.append({"name": d[0], "initial_sum": int(d[1]), "rate": float(d[2])})

min_sum = m[0]["initial_sum"]
dostup = m[0]["name"]
max_pr = m[0]["initial_sum"] * m[0]["rate"] / 100
vigoda = m[0]["name"]

for q in range(1, len(m)):
  if (m[q]["initial_sum"] < min_sum):
    min_sum = m[q]["initial_sum"]
    dostup =  m[q]["name"]

  d = m[q]["initial_sum"] * m[q]["rate"] / 100
  if (d > max_pr):
    max_pr = d
    vigoda = m[q]["name"]


print(dostup, vigoda)

2
ggggg 55555 5.5
kkkkk 33333 3.3
kkkkk ggggg